<div class="wrap">

    <div class="title">Галерея</div>

    <div class="year">2019</div>
    <div class="grid">
        <div class="item" *ngFor="let img of images">
            <figure class="my-app-custom-image-with-desc">
                <img [src]="img.modal.img"
                     (click)="openImageModalRowDescription(img)"/>
                <figcaption class="description">
                    {{img.modal.description ? img.modal.description : 'No description available'}}
                </figcaption>
            </figure>
        </div>
    </div>

    <ks-modal-gallery
        [id]="0"
        [modalImages]="images"
        [plainGalleryConfig]="customPlainGalleryRowDescConfig"
    ></ks-modal-gallery>

</div>
