<div class="container py-2 min-vh-100">
  <h4 class="text-center">Список фоток</h4>
  <a [routerLink]="['/home/list/users']" class="text-center d-block">Перейти на список юзеров</a>
  <hr>
  <div class="pagination-wrapper text-center py-2">
    <span>Страница: </span>
    <button class="btn p-2 m-2" [ngClass]="pageNumber === i ? 'btn-danger' : 'btn-dark'"
            *ngFor="let photo of photos$ | async | slice : 0 : maxPages; let i = index"
            (click)="onPageClick(i)">
      {{i}}
    </button>
  </div>
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Номер альбома</th>
      <th scope="col">Тайтл</th>
      <th scope="col">Картинка</th>
      <th scope="col">Мини картинка</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let photo of photos$ | async | slice : startIndex : endIndex">
        <th scope="row">{{photo.id}}</th>
        <td>{{photo.albumId}}</td>
        <td>{{photo.title}}</td>
        <td><img src="{{photo.url}}" alt="..." loading="lazy" height="200" width="200"></td>
        <td><img src="{{photo.thumbnailUrl}}" alt="..." loading="lazy" height="50" width="50"></td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-wrapper text-center py-2">
    <span>Страница: </span>
    <button class="btn p-2 m-2" [ngClass]="pageNumber === i ? 'btn-danger' : 'btn-dark'"
            *ngFor="let photo of photos$ | async | slice : 0 : maxPages; let i = index"
            (click)="onPageClick(i)">
      {{i}}
    </button>
  </div>
</div>
