<!-- <input [formControl]="nameControl"><br> -->

<h1>
  Page for registration.
</h1>




<fieldset  [formGroup] = "fullnameControl">
  <input formControlName = "name"
  placeholder="name" id="name">
  <input formControlName = "surname"
  placeholder="surname">
  <input formControlName = "number"
  placeholder="number">
  <input formControlName = "adress"
  placeholder="adress">
  <input formControlName = "id"
  placeholder="id">
  <input formControlName = "country"
  placeholder="country">
  <input formControlName = "city"
  placeholder="city">
  <input formControlName = "email"
  placeholder="email">
  <input formControlName = "fathersname"
  placeholder="fathersname">
  <input formControlName = "mothersname"
  placeholder="mothersname">

</fieldset>

<!-- 
<br><input [formControl]="surnameControl"><br>

<br><input [formControl]="numberphoneControl"><br>

<br><input [formControl]="adressControl"><br>

<br><input [formControl]="idControl"><br>

<br><input [formControl]="countryControl"><br>

<br><input [formControl]="cityControl"><br>

<br><input [formControl]="emailadressControl"><br>

<br><input [formControl]="fathersnameControl"><br>

<br><input [formControl]="mothersnameControl"><br> -->



<router-outlet>
  
</router-outlet>