<div class="container">
  <div class="wrapper text-center">

    <h3>Protected page</h3>
    <hr>

    <p *ngIf="sessionUser$ | async; let sessionUser">UID is <strong>{{sessionUser.id}}</strong></p>
    <p *ngIf="isLoggedIn$ | async; let isLoggedIn">isLoggedIn is <strong>{{isLoggedIn}}</strong></p>

    <button mat-raised-button color="primary" type="button" (click)="logout()" [disabled]="(isLoading$ | async)">
      Sign out
      <mat-icon *ngIf="isLoading$ | async">
        <mat-spinner color="accent" diameter="20"></mat-spinner>
      </mat-icon>
    </button>
    <p class="auth__text auth__text--danger fade-in mat-body" *ngIf="errorMsg$ | async; let errorMsg">{{ errorMsg }}</p>

  </div>
</div>
