<div class="dialog">
    <div class="qwerty">
        <div class="title">
            Подвердить действие?
        </div>
        <div class="dialog-text_1">
            Вы уверены что хотите подвердить действие?
        </div>
        <div class="dialog-text_2">
            Подвердите действие нажатием кнопки снизу
        </div>
    </div>
    <div class="buttons">
        <button class="cancel"  mat-raised-button (click)="closeD()">Отмена</button>
        <button class="save"  mat-raised-button (click)="closeD()">Потвердить</button>
    </div>
</div>


<!--<div class="dialog_ex">-->
<!--    <div class="a">-->
<!--        <div class="header_ex">-->
<!--            <span class="title_ex">Подробности проекта</span>-->
<!--            <button class="exit_button_ex">-->
<!--                <img alt="" src="../../../../assets/icons/exit.svg">-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="content_ex">-->
<!--            <div class="left">-->
<!--                <div class="projects">-->
<!--                    <p>Проект</p>-->
<!--                </div>-->
<!--                <div class="start_date">-->
<!--                    <p>Дата начала</p>-->
<!--                </div>-->
<!--                <div class="end_date">-->
<!--                    <p>Окончаниеее</p>-->
<!--                </div>-->
<!--                <div class="description">-->
<!--                    <p>Описание</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="right">-->
<!--                <div class="projects">-->
<!--                    <span>ForteKassa</span>-->
<!--                </div>-->
<!--                <div class="start_date">-->
<!--                    <label>-->
<!--                        <select class="chooseMonth">-->
<!--                            <option value="January">Январь</option>-->
<!--                            <option value="Febuary">Февраль</option>-->
<!--                            <option value="March">Март</option>-->
<!--                            <option value="April">Апрель</option>-->
<!--                            <option value="May">Май</option>-->
<!--                            <option value="June">Июнь</option>-->
<!--                            <option value="July">Июль</option>-->
<!--                            <option value="August">Август</option>-->
<!--                            <option value="September">Сентябрь</option>-->
<!--                            <option value="October">Октябрь</option>-->
<!--                            <option value="November">Ноябрь</option>-->
<!--                            <option value="December">Декабрь</option>-->
<!--                        </select>-->
<!--                    </label>-->
<!--                    <div class="chooseYear">-->
<!--                            2019-->
<!--                    </div>-->
<!--                    <input type="checkbox" id="today" class="checkbox">-->
<!--                    <label for="today" class="now">По настоящее время</label>-->
<!--                </div>-->
<!--                <div class="end_date">-->
<!--                    <label>-->
<!--                        <select class="chooseMonth">-->
<!--                            <option value="January">Январь</option>-->
<!--                            <option value="Febuary">Февраль</option>-->
<!--                            <option value="March">Март</option>-->
<!--                            <option value="April">Апрель</option>-->
<!--                            <option value="May">Май</option>-->
<!--                            <option value="June">Июнь</option>-->
<!--                            <option value="July">Июль</option>-->
<!--                            <option value="August">Август</option>-->
<!--                            <option value="September">Сентябрь</option>-->
<!--                            <option value="October">Октябрь</option>-->
<!--                            <option value="November">Ноябрь</option>-->
<!--                            <option value="December">Декабрь</option>-->
<!--                        </select>-->
<!--                    </label>-->
<!--                    <div class="chooseYear">-->
<!--                        2019-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="description">-->
<!--                    <label>-->
<!--                        <textarea name="" id="" cols="65" rows="8"></textarea>-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="footer_ex">-->
<!--            <div class="button_ex">Сохранить</div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
