<div class="content">
  <div class="my-container">
    <div class="logo">
      <img src="assets/img/logo-black.svg" alt="logo">
    </div>
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="left">
      <ul class="footer-menu">
        <li>
          <a href="#">Политика конфиденциальности</a>
        </li>
        <li>
          <a href="#">Связаться с администратором</a>
        </li>
        <li>
          <a href="#">О Компании</a>
        </li>
      </ul>
    </div>
    <div class="right">
      <p>2019 ONE</p>
    </div>
  </footer>

</div>
