<mat-form-field class="search_block" floatLabel="never">
    <div class="search">
        <div class="input-box">
            <img src="assets/icons/header/search.svg" alt="search">
            <input matInput type="text"
                   placeholder="Поиск"
                   [formControl]="SearchControl"
                   [matAutocomplete]="auto"
                   #search
                   (keyup)="Search(search.value)">
            <mat-autocomplete autoActiveFirstOption [displayWith]="DisplayFn" #auto="matAutocomplete" class="search_block scroll">
                <mat-option *ngFor="let option of options.users" [value]="option">
                    {{option.fullName}}
                </mat-option>
            </mat-autocomplete>
        </div>
    </div>
</mat-form-field>
