<mat-toolbar color="accent" class="navbar is-primary">
    <span>Azamat's App</span>
    <div class="container-moving"></div>
    <a mat-button href="/home"><mat-icon>house</mat-icon>Home</a>
    <a mat-button href="/about"><mat-icon>group</mat-icon>About Us</a>
    <a mat-button href="/contact"><mat-icon>call</mat-icon>Contact</a>
    <a mat-button href="/profile"><mat-icon>person</mat-icon>Profile</a>
    <a mat-button href="/auth"><mat-icon>login</mat-icon>Authenticate</a>
    <a mat-raised-button color="primary" href="/logout"><mat-icon>logout</mat-icon>Log Out</a>
</mat-toolbar>

<router-outlet></router-outlet>