/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  //font-size: calc(80% + 0.3vw + 0.3vh);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
