<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" routerLink="/home" routerLinkActive="active">Brand</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/home" routerLinkActive="active">Home</a>
          <a class="nav-link" href="#" routerLink="/features" routerLinkActive="active">Features</a>
          <a class="nav-link" href="#" routerLink="/profile" routerLinkActive="active">Profile</a>
          <div *ngIf="!logged">
            <a class="nav-link" href="#" routerLink="/login" routerLinkActive="active">Log in</a>
          </div>
          <div *ngIf="logged">
            <a class="nav-link" href="#" (click)="logout()" routerLink="/login" routerLinkActive="active">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </nav>