.header {
  height: 100px;
  background-image: linear-gradient(to bottom, snow 0%, lightcyan 100%);
}

.header p {
  font-weight: bold;
  font-size: 2rem;
}

.username-text {
  color: darkblue;
}

.fade-in {
  animation: 2s fade-in ease-out;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



