<label>
  Search text:
  <input type="text" [(ngModel)]="search" value="{{this.search}}">
</label>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label>
    Search text:
    <input type="text" formControlName="search" [(ngModel)]="search" value="{{this.search}}">
  </label>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

<button (click)="clicked()">Click me!</button>

<p><strong>title: </strong> {{this.title}}</p>
<p><strong>search: </strong> {{this.search}}</p>
