<div class="background"></div>
<div class="fade-in container d-flex vh-100 vw-100">
  <div class=" credentials-form credentials-form__gray h-50 w-75 text-center mx-auto my-auto">
    <h2 class="my-3">Register</h2>
    <input class="credentials-text-input d-block w-75 my-1 mx-auto p-2" type="text" [(ngModel)]="email" placeholder="Enter email"/>
    <input class="credentials-text-input d-block w-75 mt-1 mb-5 mx-auto p-2" type="password" [(ngModel)]="password" placeholder="Enter password"/>

    <button class="btn btn-primary text-truncate w-75 d-block p-1 my-1 mx-auto" (click)="register()" [disabled]="!email || !password || isLoading">
      Register
    </button>
    <button class="btn btn-secondary text-truncate w-75 d-block p-1 mt-1 mb-3 mx-auto" [routerLink]="'/auth/login'">
      I already have an account
    </button>
  </div>
</div>
