<div class="content">
    <div class="suggest">
        <h1>
            Предложить новость
        </h1>
    </div>
    <div class="center">
        <div class="ava">
            <img src="assets/img/Ellipse 2.1 (Stroke).png" width="50" height="50">
        </div>
        <div class="input_area">
            <input placeholder="Предложить новость">
            <button><img src="assets/img/icons/pin.png"></button>
            <button><img src="assets/img/icons/emoji.png"></button>
        </div>
        <div class="send">
            <button><img src="assets/img/icons/send.png"></button> 
        </div>
    </div>
</div>