.text {
    font-size: 3rem;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
button {
    margin: 0 auto;
    padding: 1rem 2rem;
    font-size: 3rem;
    background-color: aquamarine;
}
input {
    font-size: 3rem;
    width: 100%;
}
.info {
    color: white;
}