<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lesson 2</title>
<!--  <link rel="stylesheet" href="styles.css">-->
</head>
<body>
<header class="main-header center-children header--grad">
  <span>Arystan Kalimov</span>
</header>
<main>
  <article>
    <section class="inputs-wrapper center-children">
      <h2>Input</h2>
      <input type="text" placeholder="input 0" class="text-inputs js-text-inputs">
      <input type="text" placeholder="input 1" class="text-inputs js-text-inputs">
      <input type="text" placeholder="input 2" class="text-inputs js-text-inputs">
      <input type="text" placeholder="input 3" class="text-inputs js-text-inputs">
      <input type="text" placeholder="input 4" class="text-inputs js-text-inputs">
      <input type="text" placeholder="input 5" class="text-inputs js-text-inputs">
    </section>
    <section class="description-wrapper js-description center-children">
      <p>
        input0 + input1 + input2 = Array1
      </p>
      <p>
        input3 + input4 + input5 = Array2
      </p>
    </section>
    <section class="buttons-wrapper center-children">
      <h2>Older methods</h2>
      <button class="btn btn--grad js-button" (click)="doConcat($event.target)">
        <span>concat</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doEvery($event.target)">
        <span>every</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doFilter($event.target)">
        <span>filter</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doForeach($event.target)">
        <span>forEach</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doIndexOf($event.target)">
        <span>indexOf</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doJoin($event.target)">
        <span>join</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doLastIndexOf($event.target)">
        <span>lastIndexOf</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doMap($event.target)">
        <span>map</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doPop($event.target)">
        <span>pop</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doPush($event.target)">
        <span>push</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doReduce($event.target)">
        <span>reduce</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doReduceRight($event.target)">
        <span>reduceRight</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doReverse($event.target)">
        <span>reverse</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doShift($event.target)">
        <span>shift</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doSlice($event.target)">
        <span>slice</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doSome($event.target)">
        <span>some</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doSort($event.target)">
        <span>sort</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doSplice($event.target)">
        <span>splice</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doToString($event.target)">
        <span>toString</span>
      </button>
      <button class="btn btn--grad js-button" (click)="doUnshift($event.target)">
        <span>unshift</span>
      </button>

      <button class="btn btn--grad js-button" (click)="doToSource($event.target)">
        <span>toSource</span>
      </button>

      <br><br>
      <h2>ES6 methods</h2>
      <input id="input-find" class="text-inputs" type="text" placeholder="find">
      <button class="btn btn--grad js-button" (click)="doFind($event.target)">
        <span>find</span>
      </button>

      <br>
      <input id="input-findIndex" class="text-inputs" type="text" placeholder="findIndex">
      <button class="btn btn--grad js-button" (click)="doFindIndex($event.target)">
        <span>findIndex</span>
      </button>

      <br>
      <button class="btn btn--grad js-button" (click)="doEntries($event.target)">
        <span>entries</span>
      </button>

      <button class="btn btn--grad js-button" (click)="doFrom($event.target)">
        <span>from</span>
      </button>

      <button class="btn btn--grad js-button" (click)="doKeys($event.target)">
        <span>keys</span>
      </button>

    </section>
  </article>
</main>
</body>
<script src="scripts.js" type="text/javascript"></script>
</html>
