.footer {
  background-image: linear-gradient(to top, snow 0%, lightcyan 100%);
}

.fade-in {
  animation: 2s fade-in ease-out;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
