* {
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #d3992c;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    transition: all 0.2s linear;
    text-transform: uppercase;
}
a:hover {
    color: #6b6b6b;
}

.footer {
    padding: 60px 0;
    background-color: rgb(202, 202, 202);
    position: relative;
}

.footer::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #bbb;
}

.container {
    display: flex;
    justify-content: space-between;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links__item {
    margin: 0 15px;
}
.icon {
    display: block;
    width: 28px;
    height: 28px;
}
.icon img {
    width: 100%;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}
.footer-info-wrapper {
    padding: 0 5px 0 50px;
}

.footer-info__item {
    line-height: 2rem;
}

.footer-subscribe__list {
    display: flex;
    justify-content: center;
}

.footer-subscribe__item {
    margin: 0 15px;
}