<footer class="footer">
    <div class="container">
        <div class="footer-follow">
            <h4 class="footer-follow__heading">
                Follow Us
            </h4>
        </div>
        <div class="footer-info">
            <div class="footer-info-wrapper">
                <ul class="footer-info__list">
                    <li class="footer-info__item">
                        <a href="#">Help Center</a>
                    </li>
                    <li class="footer-info__item">
                        <a href="#">Contact Us</a>
                    </li>
                    <li class="footer-info__item">
                        <a href="#">Account</a>
                    </li>
                    <li class="footer-info__item">
                        <a href="#">Product Help</a>
                    </li>
                    <li class="footer-info__item">
                        <a href="#">Warranty</a>
                    </li>
                    <li class="footer-info__item">
                        <a href="#">Order Status</a>
                    </li>
                </ul>
            </div>
            <div class="footer-info-wrapper">
                <ul class="footer-info__list">
                    <li class="footer-info__item">
                        <a href="#">Compare</a>
                    </li>
                    <li class="footer-info__item">
                        <a href="#">Custom Product</a>
                    </li>
                    <li class="footer-info__item">
                        <a href="#">Bulk Orders</a>
                    </li>
                    <li class="footer-info__item">
                        <a href="#">Student Discount</a>
                    </li>
                    <li class="footer-info__item">
                        <a href="#">Press Releases</a>
                    </li>
                </ul>
            </div>
            <div class="footer-info-wrapper">
                <ul class="footer-info__list">
                    <li class="footer-info__item">
                        <a href="#">About</a>
                    </li>
                    <li class="footer-info__item">
                        <a href="#">Born in PC</a>
                    </li>
                    <li class="footer-info__item">
                        <a href="#">Protect Our</a>
                    </li>
                    <li class="footer-info__item">
                        <a href="#">Winters</a>
                    </li>
                    <li class="footer-info__item">
                        <a href="#">Careers</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-subscribe">
            <h4 class="footer-subscribe__heading">
                Subscribe to Our Podcast
            </h4>
            <ul class="footer-subscribe__list">
                <li class="footer-subscribe__item">
                    <a href="#">iTunes</a>
                </li>
                <li class="footer-subscribe__item">
                    <a href="#">Spotify</a>
                </li>
                <li class="footer-subscribe__item">
                    <a href="#">YouTube</a>
                </li>
            </ul>
        </div>
    </div>
</footer>