/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

@import '~src/styles/one-calendar';
@import '~src/styles/one-calendar-dayGrid';

* {
  font-family: 'Montserrat', serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Search Styles*/

.search_block .mat-form-field-empty.mat-form-field-label {
    color: #8b8b8b;
}

.search_block .mat-input-element{
    caret-color: #8b8b8b;
}

.search_block.mat-autocomplete-panel.scroll::-webkit-scrollbar {
    width: 5px;
    margin-left: -10px;
}

.search_block.mat-input-element:disabled {
    color: rgba(0, 0, 0, 0.38);
}

.search_block.mat-input-element{
    caret-color: #2C2C2C;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 20px;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: #6E6E6E;
    outline: 1px solid slategrey;
    border-radius: 5px;
}

.search_block.mat-form-field-appearance-legacy .mat-form-field-underline{
    display: none;
}

.search_block .mat-form-field-label-wrapper {
    position: absolute;
    left: 0;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    margin-top: 10px;
}

.search_block .mat-form-field-label {
    position: absolute;
    left: 55px;
    font: inherit;
    pointer-events: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform-origin: 0 0;
    transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
    display: none;
}

.search_block.mat-autocomplete-panel {
    min-width: 960px;
    margin-top: 18px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    /* max-width: none; */
    max-height: 256px;
    position: relative;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.button {
  border: none;
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 288px;
  height: 46px;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  text-decoration: none;
}

