<div class="footer p-3">
  <div class="row d-flex justify-content-center p-3">
    <div class="col col-3 py-2 px-4" style="border-right: 2px solid black">
      <h3>"Название"</h3>
      <p class="p-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac blandit justo. Nulla laoreet dolor massa, sed luctus quam hendrerit a.
      </p>
    </div>
    <div class="col col-4 p-2 text-center" style="font-size: 1.5rem;">
      <h3>Навигация по сайту</h3>
      <ul>
        <li>
          <a [routerLink]="['/home/list/users']" class="d-block">Список юзеров</a>
          <a [routerLink]="['/home/list/photos']" class="d-block">Список фотографий</a>
        </li>
      </ul>
    </div>
    <div class="col col-3 py-2 px-4" style="border-left: 2px solid black">
      <h3>Свяжитесь с нами</h3>
      <ul>
        <li>
          <strong>email: </strong> <a href="mailto:blabla@mail.ru">blabla@mail.ru</a>
        </li>
        <li>
          <strong>tel: </strong> <a href="tel:+77777777777">+7 777 777 77 77</a>
        </li>
        <li>
          <strong>Адрес: </strong> Блабла 15, офис 1, г. Блабла
        </li>
      </ul>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac blandit justo. Nulla laoreet dolor massa, sed luctus quam hendrerit a.
      </p>
      <div class="text-center">
        <button class="btn btn-dark">
          Связаться
        </button>
      </div>
    </div>
  </div>
</div>
