.background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: -1;
  background-image: url("/blurry-background.png");
  background-size: cover;
}

.fade-in {
  animation: 1s fade-in ease-out;
}

.authform {
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .authform {
    min-width: 50%;
  }
}

@media (max-width: 767px) {
  .authform {
    min-width: 75%;
  }
}

.authform__title {
  color: darkslateblue;
}

.authform--shadow {
  box-shadow: inset 0.1rem 0.1rem 1rem 1rem rgba(255, 255, 255, 0.4), 0.1rem 0.1rem 5rem 0.1rem lightpink, inset 0.05rem 0.05rem 1rem 0.5rem lightskyblue;
}

.authform--transpgray {
  background-color: rgba(220, 220, 220, 0.7);
}

.authform--text-input {
  text-align: left;
  border: 0.1rem solid snow;
  background-color: snow;
  border-radius: 0.5rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
