<div class="card m-3">
  <h5 class="card-header">Регистрация</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col col-1">
          <label>Пол<span style="color: red"> *</span></label>
          <select formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.gender.errors }">
            <option value="" selected hidden>Не указано</option>
            <option value="Male">Мужчина</option>
            <option value="Female">Женщина</option>
            <option value="Other">Другое</option>
          </select>
          <div *ngIf="submitted && this.registerForm.controls.gender.errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls.gender.errors.required">Укажите пол</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col col-3">
          <label>Имя<span style="color: red"> *</span></label>
          <input type="text" formControlName="firstName" class="form-control" placeholder="Иван" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.firstName.errors }" />
          <div *ngIf="submitted && this.registerForm.controls.firstName.errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls.firstName.errors.required">Укажите ваше имя</div>
          </div>
        </div>
        <div class="form-group col col-3">
          <label>Фамилия<span style="color: red"> *</span></label>
          <input type="text" formControlName="lastName" class="form-control" placeholder="Иванов" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.lastName.errors }" />
          <div *ngIf="submitted && this.registerForm.controls.lastName.errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls.lastName.errors.required">Укажите вашу фамилию</div>
          </div>
        </div>
        <div class="form-group col col-3">
          <label>Отчество</label>
          <input type="text" formControlName="patronymic" class="form-control" placeholder="Иванович" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.patronymic.errors }" />
          <div *ngIf="submitted && this.registerForm.controls.patronymic.errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls.patronymic.errors.required">Укажите ваше отчество</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col col-3">
          <label>Город</label>
          <input type="text" formControlName="city" class="form-control" placeholder="Алматы" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.city.errors }" />
          <div *ngIf="submitted && this.registerForm.controls.city.errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls.city.errors">Неправильный формат</div>
          </div>
        </div>
        <div class="form-group col col-3">
          <label>Область</label>
          <input type="text" formControlName="state" class="form-control" placeholder="Алматинская" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.state.errors }" />
          <div *ngIf="submitted && this.registerForm.controls.state.errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls.state.errors">Неправильный формат</div>
          </div>
        </div>
        <div class="form-group col col-3">
          <label>Страна</label>
          <input type="text" formControlName="country" class="form-control" placeholder="Казахстан" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.country.errors }" />
          <div *ngIf="submitted && this.registerForm.controls.country.errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls.country.errors">Неправильный формат</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col col-4">
          <label>Дата рождения<span style="color: red"> *</span></label>
          <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.dob.errors }" />
          <div *ngIf="submitted && this.registerForm.controls.dob.errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls.dob.errors.required">Укажите дату рождения</div>
            <div *ngIf="this.registerForm.controls.dob.errors.pattern">Неверный формат</div>
          </div>
        </div>
        <div class="form-group col col-5">
          <label>Адрес электронной почты<span style="color: red"> *</span></label>
          <input type="text" formControlName="email" class="form-control" aria-describedby="emailHelp" placeholder="ivanivanov@gmail.com" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.email.errors }" />
          <small id="emailHelp" class="form-text text-muted">Ваша почта нужна для подтверждения регистрации.</small>
          <div *ngIf="submitted && this.registerForm.controls.email.errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls.email.errors.required">Укажите вашу электронную почту</div>
            <div *ngIf="this.registerForm.controls.email.errors.email">Неверный формат</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col col-9">
          <label>Краткое био</label>
          <input type="text" formControlName="bio" class="form-control" aria-describedby="bioHelp" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.bio.errors }" />
          <small id="bioHelp" class="form-text text-muted">Не более 20 символов</small>
          <div *ngIf="submitted && this.registerForm.controls.bio.errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls.bio.errors.maxlength">Превышено ограничение по символам</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col col-3">
          <label>Пароль<span style="color: red">*</span></label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.password.errors }" />
          <div *ngIf="submitted && this.registerForm.controls.password.errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls.password.errors.required">Это поле обязательно</div>
            <div *ngIf="this.registerForm.controls.password.errors.minlength">Минимум 6 символов</div>
          </div>
        </div>
        <div class="form-group col col-3">
          <label>Повторите пароль<span style="color: red"> *</span></label>
          <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.confirmPassword.errors }" />
          <div *ngIf="submitted && this.registerForm.controls.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls.confirmPassword.errors.required">Это поле обязательно</div>
            <div *ngIf="this.registerForm.controls.confirmPassword.errors.mustMatch">Пароли не совпадают</div>
          </div>
        </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.acceptTerms.errors }" />
        <label for="acceptTerms" class="form-check-label">Согласен с правилами и условиями</label>
        <div *ngIf="submitted && this.registerForm.controls.acceptTerms.errors" class="invalid-feedback">*Согласие обязательно</div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" formControlName="acceptUpdates" id="acceptUpdates" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.acceptUpdates.errors }" />
        <label for="acceptUpdates" class="form-check-label">Получать обновления на почту</label>
        <div *ngIf="submitted && this.registerForm.controls.acceptUpdates.errors" class="invalid-feedback">*</div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary font-weight-bolder mr-1">Регистрация</button>
        <button class="btn btn-secondary font-weight-bolder ml-1" type="reset" (click)="onReset()">Сбросить</button>
      </div>
    </form>
  </div>
</div>
