<form class="myForm" [formGroup]="profileForm" (ngSubmit)="register(profileForm.value)">

  <h3 class="title">Регистрация</h3>

  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
  <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>

<!--
  <div class="form-group">
    <label for="firstname">Имя:</label>
    <input type="text" id="firstname" formControlName="firstname">
    <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-error">
      <p *ngIf="firstname.errors.required">Имя обязательна.</p>
      <p *ngIf="firstname.errors.minlength">Имя должно содержать не менее 5 символов.</p>
    </div>
  </div>

  <div class="form-group">
    <label for="lastname">Фамилия:</label>
    <input type="text" id="lastname" formControlName="lastname">
    <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-error">
      <p *ngIf="lastname.errors.required">Фамилия обязательна.</p>
      <p *ngIf="lastname.errors.minlength">Фамилия должно содержать не менее 5 символов.</p>
    </div>
  </div>-->
<div class="forms">
  <div class="form-group">
    <input type="email" id="email" formControlName="email" placeholder="Ваш email">
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <p *ngIf="email.errors.required">E-mail обязателен.</p>
      <p *ngIf="email.errors.minlength">E-mail должен содержать не менее 5 символов.</p>
      <p *ngIf="email.errors.email">Введите правильный E-mail</p>
    </div>
  </div>

  <div class="form-group">
    <input type="password" id="password" formControlName="password" placeholder="Придумайте пароль">
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <p *ngIf="password.errors.required">Пароль обязателен.</p>
      <p *ngIf="password.errors.minlength">Пароль должен содержать не менее 5 символов.</p>
    </div>
  </div>
</div>
  <div class="form-group">
    <button [disabled]="profileForm.invalid" class="btn btn-block btn-info">Регистрация</button>
    <a class="btn btn-block btn-warning" (click)="openPage()">Авторизация</a>
  </div>


</form>
