html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

*::selection {
    color: snow;
    background-color: black;
}

body::-webkit-scrollbar {
    width: 11px;
}

body {
    background-color: lightcoral;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

*:focus {
    outline: none;
}

article {
    border-bottom: 5px solid black;
    margin-bottom: 50px;
}

.main-header {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50px;
}

.main-header > span {
    font-weight: bold;
    color: darkblue;
    text-shadow: 2px 2px 5px red;
    font-size: 40px;
    line-height: 50px;
    animation: text-pulse 1s infinite alternate linear;
}

.description-wrapper {
    height: 200px;
    width: 100%;
    margin: 50px auto;
    border-bottom: 2px black dotted;
    border-top: 2px black dotted;
    overflow-y: auto;
    background-color: cornflowerblue;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    transition: opacity 0.5s ease-in-out;
}

.description-wrapper::-webkit-scrollbar {
    width: 11px;
}

.description-wrapper::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
.description-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.description-wrapper > p {
    font-weight: bold;
    color: darkblue;
    font-size: 40px;
    line-height: 50px;
    word-wrap: break-word;
    overflow: hidden;
}

.header--grad {
    background-image: linear-gradient(to right, lightblue 0%, lightpink 35%, lightgoldenrodyellow 80%, cornflowerblue 100%);
    background-size: 200% auto;
    animation: run 2s infinite ease-in-out alternate;
}

.inputs-wrapper {
    margin: 20px auto;
}

.text-inputs {
    margin: 0 10px;
    width: 10%;
    border: 5px solid snow;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-weight: bold;
    /*background: rgba(255, 255, 255, 0.5);*/
    background-image: linear-gradient(to right, cornsilk, lightcyan 50%, cornsilk 100%);
}

.text-inputs:focus {
    transform: scale(1.08);
    box-shadow: 0 0 0 2px yellow;
}

.text-inputs:focus::placeholder {
    opacity: 0;
}

.text-inputs:hover {
    transform: scale(1.08);
}

.text-inputs:nth-child(3n+0) {
    margin-right: 20px;
}

.text-inputs:nth-child(3n+1) {
    margin-left: 20px;
}

.center-children {
    text-align: center;
}

.buttons-wrapper {
    margin: 50px auto;
}

.btn {
    width: 10%;
    height: 50px;
    margin: 10px 20px;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 0 0 20px snow;
}

.btn > span {
    font-weight: bold;
}

.btn--grad {
    background-image: linear-gradient(to right, lightblue 0%, lightgoldenrodyellow 80%, cornflowerblue 100%);
    transition: background-position 0.2s ease-in-out;
    background-size: 200% auto;
}

.btn:focus {
    transform: scale(1.08);
    box-shadow: 0 0 0 2px yellow;
    background-position: right center;
    text-decoration: none;
}

.btn--grad:hover {
    transform: scale(1.08);
    background-position: right center;
    text-decoration: none;
}

.btn--grad--secondary {
    background-image: linear-gradient(to right, yellowgreen 0%, lightgoldenrodyellow 80%, green 100%);
    transition: background-position 0.2s linear;
    background-size: 200% auto;
}

.btn--grad--secondary:hover {
    transform: scale(1.08);
    background-position: right center;
    text-decoration: none;
}

@keyframes run {
    from {
        background-position: left center;
    }
    to {
        background-position: right center;
    }
}

@keyframes text-pulse {
    from {
        text-shadow: 0px 0px 0px red;
    }
    to {
        text-shadow: 2px 2px 5px red;
    }
}

