<div class="container py-2 min-vh-100">
  <h4 class="text-center">Список юзеров</h4>
  <a [routerLink]="['/home/list/photos']" class="text-center d-block">Перейти на список фоток</a>
  <hr>
  <div class="pagination-wrapper text-center py-2">
    <span>Страница: </span>
    <button class="btn p-2 m-2" [ngClass]="pageNumber === i ? 'btn-danger' : 'btn-dark'"
            *ngFor="let photo of users$ | async | slice : 0 : maxPages; let i = index"
            (click)="onPageClick(i)">
      {{i}}
    </button>
  </div>
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Телефон</th>
      <th scope="col">Действие</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async | slice : startIndex : endIndex">
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>
          <button class="btn btn-danger" (click)="removeUser(user)">
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-wrapper text-center py-2">
    <span>Страница: </span>
    <button class="btn p-2 m-2" [ngClass]="pageNumber === i ? 'btn-danger' : 'btn-dark'"
            *ngFor="let photo of users$ | async | slice : 0 : maxPages; let i = index"
            (click)="onPageClick(i)">
      {{i}}
    </button>
  </div>
</div>
