<div class="alert alert-primary" role="alert" *ngIf="corX && corY">
  <div class="row">
    <div class="col col-6 text-right">
      Coordinate X:
    </div>
    <div class="col col-6 text-left font-weight-bold">
      {{corX}}
    </div>
  </div>
  <div class="row">
    <div class="col col-6 text-right">
      Coordinate Y:
    </div>
    <div class="col col-6 text-left font-weight-bold">
      {{corY}}
    </div>
  </div>
</div>
<div class="center-children">
  <router-outlet></router-outlet>
</div>
