.dialog_ex {
    width: 650px;
    height: 450px;
    overflow: hidden;
}

.header_ex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 25px 25px;
}

.title_ex {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    color: #2C2C2C;
}

.exit_button_ex {
    background: none;
    border: none;
    width: 15px;
    height: 15px;
}

.content_ex {
    display: flex;
    justify-content: flex-start;
    margin: -40px 45px 0;

    .projects,
    .start_date,
    .end_date,
    .description{
        display: flex;
        align-items: center;
        margin: 45px 0;
        font-size: 15px;
    }

    .left{
        margin-right: 30px;
        margin-left: -18px;
    }


    .right{
        align-items: center;
        justify-content: right;
        margin-top: 25px;
        .start_date,
        .end_date,
        .projects,
        .description {
            display: flex;
            align-items: center;
            margin: 20px 0 20px;
            font-size: 14px;
        }
        .projects {
            span{
                padding: 5px 10px;
                border-radius: 3px;
                background: #6D9CC8;
                color: #fff;
                font-size: 14px;
            }
        }
        .start_date{
            #today{
                margin: 0 20px;
            }

            select{
                text-align: center;
            }
        }
        .chooseMonth {
            width: 150px;
            height: 50px;
            color: #6E6E6E;
            border: 1px solid  #BDBDBD;
            padding-left: 15px;
        }
        .monthName {
            padding-left: 10px;
        }
        .chooseYear {
            height: 50px;
            width: 70px;
            border: 1px solid #BDBDBD;
            align-items: center;
            padding-left: 15px;
            display: flex;
        }
        .checkbox-now {
            width: 20px;
            height: 20px;
            border-width: 0 3px 3px 0;
        }
        .now {
            font-size: 15px;
            display: flex;
            align-items: center;
            color: black;
        }

    }
}
.footer_ex {
    background: #F1F1F1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 10px 0 27px 5px;
}
.button_ex {
    font-weight: 500;
    font-size: 16px;
    color: #8F8F8F;
    border: none;
    background: none;
    padding: 14px 29.3px 15px 49px;
}
