.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background: #2C2C2C;
    z-index: 1000;
    transition: width 500ms linear;
    .menu {
        padding: 40px 25px 0;
        display: flex;
        flex-direction: column;
        .item {
            cursor: pointer;
            display: grid;
            grid-template-columns: 50px auto;
            margin-bottom: 20px;
            .img {
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
            }
            span {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                align-items: center;
                height: 50px;
                color: #B5B5B5;
                margin-left: 26px;
                visibility: hidden;
            }
        }
        .item:focus {
            outline: none;
        }
        .item:last-child {
            margin-bottom: 0;
        }
        .active, .item:hover {
            .img {
                background: #000;
            }
            span {
                color: #ffffff;
            }
        }
        .arrow {
            position: absolute;
            bottom: 20px;
        }
    }
}
.open {
    width: 260px;
    .item span {
        visibility: visible !important;
    }
}
.box {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    position: fixed;
    z-index: 800;
    top: 0;
    left: 0;
}
