<div class="container py-2 min-vh-100">
  <h4 class="text-center">Профиль</h4>
  <hr>
  <div class="row">
    <div class="col col-4 p-2">
      <img src="/assets/anime guy.JPG" alt="" width="200">
    </div>
    <div class="col col-4 p-2">
      <p>
        <strong>Email:</strong> {{currentUser?.email}}
        <br>
        <strong>UID:</strong> {{currentUser?.uid}}
        <br>
        <strong>isAnonymous:</strong> {{currentUser?.isAnonymous}}
        <br>
        <strong>emailVerified:</strong> {{currentUser?.emailVerified}}
      </p>
    </div>
  </div>
</div>
