button {
  margin: 5px 10px 5px 0;
  padding: 5px;
  background: linear-gradient(to right, lightgreen 0%, lightseagreen 100%);
  border: 1px solid snow;
  border-radius: 5px;
  color: snow;
  font-weight: bold;
}

button:hover {
  transform: scale(1.08);
}

button:focus {
  outline: none;
  border: 1px solid red
}
